html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url('bygning.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, serif;
    font-size: 16pt;
    height: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0%;
    word-wrap: break-word;
}

#textbox {
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    padding: 10px;
    text-align: center;
}

.box {
    left: 50%;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
    opacity: 0.9;
    padding: 0px;
    position: relative;
    text-align: center;
    transform: translate(-50%);
    width: 100%;
}

.box.header {
    background-color: #a52a2a;
}

.box.stem {
        background-color: #39641c;
}

.timeline {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 80%;
}

.timeline::before {
    background-color: #a52a2a;
    bottom: 0;
    content: '';
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 12px;
}

.event {
    align-items: center;
    display: flex;
    margin: 40px 0;
    position: relative;
}

a.content {
    color: inherit;
    display: block;
    text-decoration: none;
}

a.content:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.event.left .content {
    background-color: #ffffff;
    border-radius: 8px;
    margin-left: 0;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-align: center;
    width: 40%;
}

.event.right .content {
    background-color: #ffffff;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 0;
    padding: 15px;
    position: relative;
    text-align: center;
    width: 40%;
}

.event.mid .content {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    text-align: center;
    width: 80%;
}


.event.back .content {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    text-align: center;
    width: 20%;
}

.sndm .content {
    box-shadow: 10px 10px 10px #0a5963;
}

.ar .content {
    box-shadow: 10px 10px 10px #39641c;
}

.best .content {
    box-shadow: 10px 10px 10px #a52a2a;
}

.stem .content {
    box-shadow: 10px 10px 10px #a52a2a;
}

@media (max-width: 768px) {
    .timeline {
        width: 90%;
    }

    .event {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .event.left .content,
    .event.right .content,
    .ebemt.mid .content {
        margin: 20px 0;
        width: 90%;
    }
}
